# Gradle files
.gradle/
build/

# Local config
local.properties

# Logs
*.log

# Android Studio / IntelliJ
*.iml
.idea/

# OS files
.DS_Store

# Build outputs
*.apk
*.aab
output-metadata.json

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/

# Keystore
*.jks
*.keystore

# Google services
google-services.json

# Profiling
*.hprof